// Font
$mainFont: "Futura PT", Helvetica, Arial, sans-serif;

//Переменные>==========================================================================================================================================
// Size
$minwidth: 320px;

$fontColor_1-0: #8f90a0; //0.50

$mainFontSize: 14px;
$mainFontWeight: 400;
$mainLineHeight: 1;

$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

//Gradients
$mainGradient: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$secondaryGradient: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);

// Border Color
$borderColor_1-0: #8f90a0;
