/*===================FOOTER============================================*/

.footer-disabled {
	display: none;
}

.footer {
	opacity: 0.74;
	color: #f6f6f6;
	font-size: 1.27rem;
	font-weight: 300;

	font-family: $mainFont;
	background-color: #1f2532;

	padding: 29px 0;
	&__menu {
		margin: 0 0 16px 0;
		@media (max-width: 700px) {
			margin: 0 0 30px 0;
		}
	}
	&__copyright {
	}
}

.footer-menu {
	&__list {
		display: flex;
		@media (max-width: 700px) {
			flex-direction: column;
		}
	}
	&__item {
		@include transition;
		&:hover {
			transform: scale(1.05);
		}
		&:not(:last-child) {
			margin: 0 40px 0 0;
			@media (max-width: 700px) {
				margin: 0 0 17px 0;
			}
		}
	}
	&__link {
		display: block;
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		color: inherit;
	}
}
