include /project/blocks/header/header.pug
include /project/blocks/footer/footer.pug
include /project/blocks/buttons/button.pug

doctype html
html(lang="ru")
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		link(rel="icon" href="assets/img/favicon.ico")
		title='Главная'
	body
		.wrapper
			-
				const headerMenu = [
					{text: 'Наши предложения', link:'#',submenu:''}, 
					{text: 'Поддержка', link:'#',submenu:''}, 
					//{text: 'Соглашения', link:'#',submenu:['Правила','Спонсорство и инвестиции','Лицензии']}
				]
			+header('unlogged', headerMenu, headerLoginButton,headerRegButton)


			main.main
				section.main__slider
					.slider
						.slider__item
							.slider-item.ibg
								.ibg__item(data-bg='425')
									img(src="assets/img/bg320.jpg", alt="")
								.ibg__item(data-bg='30000')
									img(src="assets/img/BG.jpg", alt="")
								.container
									.slider-item__body
										h2.slider-item__title Программа Фотодива
										p.slider-item__descr Попробуйте инновационный фоторедактор
										.slider-item__link
											+button('Скачать', true)
										a.slider-links__arrow
											//
												img(src="assets/img/arrow.png", alt="")
						.slider__item
							.slider-item.ibg
								.ibg__item(data-bg='320')
									img(src="assets/img/bg320.jpg", alt="")
								.ibg__item(data-bg='30000')
									img(src="assets/img/BG.jpg", alt="")
								.container
									.slider-item__body
										h2.slider-item__title Программа Фотодива
										p.slider-item__descr Попробуйте инновационный фоторедактор
										.slider-item__link
											+button('Скачать', true)
										a.slider-links__arrow
											//
												img(src="assets/img/arrow.png", alt="")






			-
				const footerMenu = [
					{text: 'Лицензионное соглашение', link:'#'}, 
					{text: 'Политика конфиденциальности', link:'#'}, 
					{text: 'О компании', link:'#'}, 
				]
			-const footerCopyRight='© 2020 PhotoDiva − портретный фоторедактор'
			+footer(footerMenu,footerCopyRight)



